POSTGRES_SERVER=localhost
POSTGRES_USER=fibercore
POSTGRES_PASSWORD=YOUR_SECURE_PASSWORD
POSTGRES_DB=fibercore_db
POSTGRES_PORT=5432

NEO4J_USER=neo4j
NEO4J_PASSWORD=YOUR_SECURE_PASSWORD

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=YOUR_SECURE_PASSWORD

SECRET_KEY=YOUR_JWT_SECRET_KEY
